
.nav-tabs .nav-link {

border: 1px solid transparent;
border-bottom-left-radius: .25rem;
border-bottom-right-radius: .25rem;
}

.nav-tabs .nav-item {

/ margin-top: -1px; /
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
color: #495057;
background-color: #f8fafc;
border-color: #dee2e6 #dee2e6 #f8fafc;
}

.nav-tabs {
border: 0;
}

.card {
border: 0;
}

.card-body {
border: 1px solid rgba(0,0,0,0.125);
}


.badge-success {
    color: #fff;
    background-color: #38c172;
    float: right;
}

.badge-danger {
    color: #fff;
    background-color: #e3342f;
    float: right;
}